<!DOCTYPE html>
<html>
    <head>
        <title>Neal Vander Does Blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Neal Vander Does Blog</a></h1>
        </header>

        <article>
            <time>published: 11.20.2024, 10:11</time>
            <h2><a href="">First Post</a></h2>
            <p>Working on Module 5 Tutorial - Django Deploy and Views for my SDEV 220 class.</p>
        </article>

        <article>
            <time>published: 11.20.2024, 10:13</time>
            <h2><a href="">Second Post</a></h2>
            <p>Second post while working on SDEV 220 assignment.</p>
        </article>
        <footer>
            Created by Neal Vander Does with help from Django Girls tutorial
        </footer>
    </body>
</html>